<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logovanje</servlet-name>
        <servlet-class>servleti.logovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>odjava</servlet-name>
        <servlet-class>servleti.odjava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediProfil</servlet-name>
        <servlet-class>servleti.proslediProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediCene</servlet-name>
        <servlet-class>servleti.proslediCene</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prijavaFirma</servlet-name>
        <servlet-class>servleti.prijavaFirma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodavanjeKorisnika</servlet-name>
        <servlet-class>servleti.dodavanjeKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodavanjeFirmi</servlet-name>
        <servlet-class>servleti.dodavanjeFirmi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajNarudzbenicu</servlet-name>
        <servlet-class>servleti.dodajNarudzbenicu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediFirmu</servlet-name>
        <servlet-class>servleti.proslediFirmu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaNarudzbenica</servlet-name>
        <servlet-class>servleti.listaNarudzbenica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaRacuna</servlet-name>
        <servlet-class>servleti.listaRacuna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaPumpi</servlet-name>
        <servlet-class>servleti.listaPumpi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>racuniPumpe</servlet-name>
        <servlet-class>servleti.racuniPumpe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>narudzbenicePumpe</servlet-name>
        <servlet-class>servleti.narudzbenicePumpe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prodavciPumpe</servlet-name>
        <servlet-class>servleti.prodavciPumpe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmeniCene</servlet-name>
        <servlet-class>servleti.izmeniCene</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>promeniCene</servlet-name>
        <servlet-class>servleti.promeniCene</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajPumpu</servlet-name>
        <servlet-class>servleti.dodajPumpu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniPumpu</servlet-name>
        <servlet-class>servleti.ukloniPumpu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menadzerPumpe</servlet-name>
        <servlet-class>servleti.menadzerPumpe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediRadnike</servlet-name>
        <servlet-class>servleti.proslediRadnike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>promenaMenadzera</servlet-name>
        <servlet-class>servleti.promenaMenadzera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediRadnika</servlet-name>
        <servlet-class>servleti.proslediRadnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmeniRadnika</servlet-name>
        <servlet-class>servleti.izmeniRadnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniRadnika</servlet-name>
        <servlet-class>servleti.ukloniRadnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajRadnika</servlet-name>
        <servlet-class>servleti.dodajRadnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ponistiNarudzbenicu</servlet-name>
        <servlet-class>servleti.ponistiNarudzbenicu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajRacun</servlet-name>
        <servlet-class>servleti.dodajRacun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>racuniProdavca</servlet-name>
        <servlet-class>servleti.racuniProdavca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniNarudzbenicu</servlet-name>
        <servlet-class>servleti.ukloniNarudzbenicu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajCene</servlet-name>
        <servlet-class>servleti.dodajCene</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniCene</servlet-name>
        <servlet-class>servleti.ukloniCene</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediKorisnika</servlet-name>
        <servlet-class>servleti.proslediKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>platiPoenima</servlet-name>
        <servlet-class>servleti.platiPoenima</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logovanje</servlet-name>
        <url-pattern>/logovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>odjava</servlet-name>
        <url-pattern>/odjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediProfil</servlet-name>
        <url-pattern>/proslediProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediCene</servlet-name>
        <url-pattern>/proslediCene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prijavaFirma</servlet-name>
        <url-pattern>/prijavaFirma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodavanjeKorisnika</servlet-name>
        <url-pattern>/dodavanjeKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodavanjeFirmi</servlet-name>
        <url-pattern>/dodavanjeFirmi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajNarudzbenicu</servlet-name>
        <url-pattern>/dodajNarudzbenicu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediFirmu</servlet-name>
        <url-pattern>/proslediFirmu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaNarudzbenica</servlet-name>
        <url-pattern>/listaNarudzbenica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaRacuna</servlet-name>
        <url-pattern>/listaRacuna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaPumpi</servlet-name>
        <url-pattern>/listaPumpi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>racuniPumpe</servlet-name>
        <url-pattern>/racuniPumpe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>narudzbenicePumpe</servlet-name>
        <url-pattern>/narudzbenicePumpe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prodavciPumpe</servlet-name>
        <url-pattern>/prodavciPumpe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmeniCene</servlet-name>
        <url-pattern>/izmeniCene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promeniCene</servlet-name>
        <url-pattern>/promeniCene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajPumpu</servlet-name>
        <url-pattern>/dodajPumpu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniPumpu</servlet-name>
        <url-pattern>/ukloniPumpu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menadzerPumpe</servlet-name>
        <url-pattern>/menadzerPumpe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediRadnike</servlet-name>
        <url-pattern>/proslediRadnike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promenaMenadzera</servlet-name>
        <url-pattern>/promenaMenadzera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediRadnika</servlet-name>
        <url-pattern>/proslediRadnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmeniRadnika</servlet-name>
        <url-pattern>/izmeniRadnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniRadnika</servlet-name>
        <url-pattern>/ukloniRadnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajRadnika</servlet-name>
        <url-pattern>/dodajRadnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ponistiNarudzbenicu</servlet-name>
        <url-pattern>/ponistiNarudzbenicu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajRacun</servlet-name>
        <url-pattern>/dodajRacun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>racuniProdavca</servlet-name>
        <url-pattern>/racuniProdavca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniNarudzbenicu</servlet-name>
        <url-pattern>/ukloniNarudzbenicu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajCene</servlet-name>
        <url-pattern>/dodajCene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniCene</servlet-name>
        <url-pattern>/ukloniCene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediKorisnika</servlet-name>
        <url-pattern>/proslediKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>platiPoenima</servlet-name>
        <url-pattern>/platiPoenima</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
